@{
    ViewBag.Title = "Trang chủ";

}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
</head>

<body>
    <!-- Navigation -->
    <!-- Page Content -->
    <div class="container">

        <!-- Jumbotron Header -->
        <header class="jumbotron my-4">
            <h1 class="display-3">Lời chào mừng</h1>
            <p class="lead">
                Chào mừng các bạn đã đến với Chương trình Quản lý sinh viên Khoa Toán – Cơ – Tin học, Trường Đại học Khoa học Tự nhiên, Đại học Quốc gia Hà Nội.
                Chương trình Quản lý sinh viên bao gồm các chức năng về quản lý sinh viên, quản lý lớp học, quản lý môn học và quản lý kỳ thi.
            </p>
        </header>

        <!-- Page Features -->
        <div class="row text-center">

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="~/Content/svsv.jpg" style="height:250px;width:253px" alt="">
                    <div class="card-body">
                        <p class="card-text">
                            Thanh Xuân không chỉ là tên quận, nó còn là cả tuổi trẻ nồng nhiệt của chúng ta
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="~/Content/hus.jpg" style="height:250px;width:253px" alt="">
                    <div class="card-body">
                        <p class="card-text">
                            " ... Nếu tuổi trẻ chẳng hai lần thắm lại.
                            Còn đất trời nhưng chẳng còn tôi mãi ... "
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="~/Content/tu_nhien.jpg" style="height:250px;width:253px" alt="">
                    <div class="card-body">
                        <p class="card-text">
                            Còn gì vui hơn khi tuổi xuân của chúng ta được quen nhau, được học cùng nhau dưới mái nhà HUS ^^
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="~/Content/toan_co_tin.jpg" style="height:250px;width:253px" alt="">
                    <div class="card-body">
                        <p class="card-text">
                            Khoa Toán - Cơ - Tin học, trường Đại học Khoa học Tự nhiên.
                        </p>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</body>

</html>
