
@{
    ViewBag.Title = "Register";
    //Layout = "~/Views/Shared/_Layout.cshtml";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Register</title>

    <!-- Custom fonts for this template-->
    <link href="~/Content/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="~/Content/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body class="bg-gradient-primary">
    <br />
    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <img class="col-lg-5" src="~/Content/tu_nhien.jpg" />

                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Đăng ký tài khoản!</h1>
                            </div>
                            <form class="user" action="/Home/SignIn" method="post" id="idForm" name="myForm">
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="text" class="form-control form-control-user" id="exampleFirstName" placeholder="First Name">
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control form-control-user" placeholder="Last Name">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input name="HO_TEN" type="text" class="form-control form-control-user" placeholder="Họ và tên">
                                    <b style="display:none;color:red" id="fullName">Nhập vào họ và tên</b><br />
                                </div>
                                <div class="form-group">
                                    <input name="TEN_DANG_NHAP" type="text" class="form-control form-control-user" placeholder="Tên đăng nhập">
                                    <b style="display:none;color:red" id="userName">Nhập vào tên đăng nhập</b><br />
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input name="MAT_KHAU" type="password" class="form-control form-control-user" placeholder="Mật khẩu">
                                        <b style="display:none;color:red" id="pass">Nhập vào mật khẩu</b><br />
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="password" class="form-control form-control-user" placeholder="Repeat Password">
                                    </div>
                                </div>
                                <input type="button" value="Đăng kí tài khoản" class="btn btn-primary btn-user btn-block" onclick="confirmSignIn()" />

                            </form>

                            <hr>
                            <div class="text-center">
                                <a class="small" href="/Home/LogIn">Bạn đã có tài khoản? Đăng nhập!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="~/Content/vendor/jquery/jquery.min.js"></script>
    <script src="~/Content/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/Content/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/Content/js/sb-admin-2.min.js"></script>

</body>

</html>
<script>
    $(document).ready(function () {
        var errMsg = ('@TempData["notification"]');
        if (errMsg) {
            alert('Tài khoản đã tồn tại');
        }
    })
    function confirmSignIn() {
        var fullName = document.forms["myForm"]["HO_TEN"].value;
        var userName = document.forms["myForm"]["TEN_DANG_NHAP"].value;
        var password = document.forms["myForm"]["MAT_KHAU"].value;
        if (fullName == "" || userName == "" || password == "") {
            var notification1 = document.getElementById("fullName");
            var notification2 = document.getElementById("userName");
            var notification3 = document.getElementById("pass");
            if (fullName == "") {
                notification1.style.display = "block";
            } else {
                notification1.style.display = "none";
            }
            if (userName == "") {
                notification2.style.display = "block";
            } else {
                notification2.style.display = "none";
            }
            if (password == "") {
                notification3.style.display = "block";
            } else {
                notification3.style.display = "none";
            }

            return false;
        } else {
            var result = confirm("Bạn có chắc chắn đăng kí không?");
            if (result == true) {
                document.getElementById("idForm").submit();
            }
        }
    }
</script>